@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

.titleHeader {
  padding: 1rem ;
  font-size: 4rem;
  font-family: Dosis;
  text-align: center;
  color: #319795;
}